.chat {
    background-color: #228800;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 5px;
    border-radius: 15px;
    margin: 0 auto;
    border-right: 3px solid white;
    border-left: 3px solid white;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.messages {
    padding: 10px;
    height: 40vh;
    max-height: 50vh;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    overflow-y: auto;
}
.messages > p {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    margin-bottom: 10px;
}



.messages strong {
    font-size: .7rem;
    text-align: end;
    color: #228800;
}

.messages .my-message {
   background-color: #007700; 
   text-align: end;
   width: 80%;
   margin-left: 10%;
   padding: 10px;
   border-radius: 10px 30px 10px 30px;
   color: white;
}

.messages .other-message {
   background-color: #d2f2d2; 
   text-align: start;
   width: 80%;
   padding: 10px;
   border-radius: 30px 10px 30px 10px; 
}

.writer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}

.writer > input {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 80%;
    height: 40px;
    font-size: 1rem;
}

.writer > input:focus {
    border: none;
    outline: none;
}

.writer > button {
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: #228800;
    font-weight: bold;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    min-width: 80px;
}

@media (max-width: 390px) {
    .chat {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        padding: 0;
        
    }

    .messages {
        width: 80%;
        margin: 0;
        height: 80%;
        padding: 0;
    }

    .writer {
        width: 80%;
        padding-top: 20px;
        margin: 0;
        justify-content: space-between;
    }

    .writer > input {
        width: 100%;
    }
}


@media (min-width: 400px) {
    .chat {
        width: 80%;
        margin: 0 auto;
        height: 80vh;
    }
    .writer {
        width: 100%;
        padding: 0;
    }

    .writer > input {
        width: 80%;
        height: 40px;
        font-size: 1.1rem;
    }

    .writer > button {
        height: 40px;
        font-size: 1.1rem;
    }
}

@media (min-width: 600px) {
    .chat {
        width: 60%;
        margin: 0 auto;
        height: 70vh;
    }
    .writer {
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }

    .writer > input {
        width: 80%;
        height: 50px;
        font-size: 1.1rem;
    }

    .writer > button {
        padding: 0;
        height: 50px;
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .chat {
        width: 50%;
        min-height: 70vh;
    }
    .messages {
        padding: 0;
    }

    .writer > input {
        max-width: 70%;
    }

    .writer > button {
        font-size: 1.2rem;
    }
}



