.login-container {
    background-color: #e2e2e2;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    border: 2px solid white;
    background-color: #228800;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

.login > input {
    width: 100%; 
    border: 2px white solid;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.login > input:focus {
    outline: 2px solid #00ff75;
}

.login > h2 {
    color: white;
}

.login > button {
    width: 100%; 
    background-color: #228800;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid white;
    color: white;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 768px) {
    .login {
        width: 50%;
        max-width: 500px;
    }
}

@media (min-width: 1024px) {
    .login {
        width: 40%;
        max-width: 450px;
    }
}
